@import url("https://cdn.geheimesite.nl/reset.css");

body {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.4;
  margin-top: 5em;
}

header {
  font-weight: bold;
  margin-top: 1em;
}
